<!-- <p>sidebar works!</p> -->
<!-- <div class="sidebar">
    <div *ngFor="let item of menuItems" class="menu-item">
      <img [src]="item.icon" alt="icon">
    </div>
  </div> -->



  <div class="sidebar">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo">
    </div>
    <div class="menu">
      <div class="menu-item">
        <img src="assets/icons/icon1.png" alt="Icon 1">
      </div>
      <div class="menu-item">
        <img src="assets/icons/icon2.png" alt="Icon 2">
      </div>
      <div class="menu-item">
        <img src="assets/icons/icon3.png" alt="Icon 3">
      </div>
      <div class="menu-item">
        <img src="assets/icons/icon4.png" alt="Icon 4">
      </div>
      <div class="menu-item">
        <img src="assets/icons/icon5.png" alt="Icon 5">
      </div>
      <div class="menu-item">
        <img src="assets/icons/icon6.png" alt="Icon 6">
      </div>
      <div class="menu-item">
        <img src="assets/icons/icon7.png" alt="Icon 7">
      </div>
      <div class="menu-item">
        <img src="assets/icons/icon8.png" alt="Icon 8">
      </div>
    </div>
  </div>
  